/* 懒加载时，图片无src时会有默认边框 */
img[src=''],
img:not([src]) {
  opacity: 0;
}

@media screen and (max-width: 767px) {
  .lg,
  [class^='s-text-'].lg,
  [class^='s-container-'].lg {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .xs,
  [class^='s-text-'].xs,
  [class^='s-container-'].xs {
    display: none !important;
  }
}
